@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="display-4">@ViewData["Title"]</h1>

<p>This is a web app created as part of a project for my C#2 course.</p>
<p>I hope you enjoyed your stay.</p>
